---
import Layout from '../layouts/Layout.astro';
import AuthNav from '../components/AuthNav.astro';
import AuthForm from '../components/AuthForm.astro';
---

<Layout title="Entrar · MoesConverter">
  <AuthNav />
  <main class="min-h-[100dvh] flex items-center justify-center px-4 pt-nav pb-10">
    <AuthForm mode="login" />
  </main>
</Layout>
